@using SurfBoardApp.Blazor.Shared.ViewModels.BoardViewModels;

<div class="index-card card mb-2 h-100 d-flex flex-column">
    <!-- Board image -->
    <div class="card-img-top d-flex justify-content-center">
        <img style="max-height: 95%; max-width: 95%" src="@Model.Images?.FirstOrDefault()?.Picture">
    </div>
    <div class="card-body d-flex justify-content-center">
        <!-- Board name -->
        <h5 class="card-title">@Model.Name</h5>
    </div>
    <div class="card-footer d-flex justify-content-center" style="min-height: 41px;">
        <!-- Board type -->
        <p class="card-text">@Model.Type</p>
    </div>
</div>


@code {
    [Parameter]
    public BoardVM Model { get; set; }
}
