@using SurfBoardApp.Blazor.Shared.ViewModels.BoardViewModels;

<div class="index-card card mb-2 h-100 d-flex flex-column">
    <!-- Board image -->
    <div style="height: 200px; width:200px; align-content: center;">
        <img class="card-img-top" style="aspect-ratio: initial" src="@Model.Images?.FirstOrDefault()?.Picture" alt="Board Image">
    </div>
    <div class="card-body flex-grow-1">
        <!-- Board name -->
        <h5 class="card-title">@Model.Name</h5>
    </div>
    <div class="card-footer d-flex justify-content-center" style="min-height: 41px;">
        <!-- Board type -->
        <p class="card-text">@Model.Type</p>
    </div>
</div>


@code {
    [Parameter]
    public BoardVM Model { get; set; }
}
