@using SurfBoardApp.ViewModels.BookingViewModels

@model List<MyBookingVM>

<h2>My Bookings</h2>

@if (Model.Any())
{
    <table>
        <thead>
            <tr>
                <th>Board</th>
                <th>Start Date</th>
                <th>End Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var booking in Model)
            {
                <tr>
                    <td>@booking.BoardName</td>
                    <td>@booking.StartDate.ToShortDateString()</td>
                    <td>@booking.EndDate.ToShortDateString()</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>You have no bookings.</p>
}
