@model PaginatedList<SurfBoardApp.Models.Board>

@{
    ViewData["Title"] = "Index";
}

<h1>Boards</h1>
<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Search by name: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default btn-search" />
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>
<div class="board-container">
    @foreach (var row in Model.Select((item, index) => new { Item = item, Index = index }).GroupBy(x => x.Index / 4))
    {
        <div class="board-row">
            @foreach (var item in row.Select(x => x.Item))
            {
                <div class="board-item">
                    <a asp-action="Details" asp-route-id="@item.Id">
                        @Html.DisplayFor(modelItem => item.Name)
                    </a>
                </div>
            }
        </div>
    }
</div>
<div class="pagination-container">
    @await Html.PartialAsync("_Pagination", Model)
</div>
