@using SurfBoardApp.ViewModels.RentPeriodViewModels;
@model RentPeriodConfirmationVM

@{
    ViewData["Title"] = "Confirmation";
}

<h1>Success!</h1>

<h4>You have booked @Model.BoardName from @Model.StartDate.ToString("d") to @Model.EndDate.ToString("d")</h4>

<a href="/" class="btn btn-primary">OK</a>

