html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    margin-bottom: 60px;
}

.btn-search {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
}

    .btn-search:hover {
        background-color: #0069d9;
        border-color: #0062cc;
        color: #fff;
    }
/* Views/Boards/Index.cshtml stylesheet*/
/* Styles for the container element holding all board rows */
.board-container {
    flex-wrap: wrap; /* allow the container to wrap rows when it runs out of horizontal space */
    padding: 20px; /* add some padding to the container */
    background-color: #fff; /* set the background color of the container */
}

/* Styles for each row of board items */
.board-row {
    display: flex; /* display the row items in a horizontal row */
    padding: 20px; /* add some padding to the row */
    width: 100%; /* set the width of the row to 100% to fill the container */
    gap: 20px; /* add some space between the items in the row */
    margin-bottom: 20px; /* add some margin below the row */
}

/* Styles for each individual board item */
.board-item {
    display: flex; /* display the item contents in a horizontal row */
    justify-content: center; /* center the item contents horizontally within the item */
    align-items: center; /* center the item contents vertically within the item */
    width: 23%; /* set the width of the item to occupy 23% of its container */
    height: 120px; /* set the height of the item */
    border-radius: 5px; /* add a rounded corner border to the item */
    box-shadow: 0 0 5px #CCCCCC; /* add a drop shadow to the item */
    background-color: #6F2E00; /* set the background color of the item */
    padding: 10px; /* add some padding to the item */
    font-size: 18px; /* set the font size of the item text */
    color: #fff; /* set the text color of the item */
    text-align: center; /* center the item text horizontally within the item */
}

/* Styles for the link within each board item */
.board-item a {
    text-decoration: none; /* remove the underline from the link */
    color: #fff; /* set the link text color */
}

.container-fluid {
    width: 100%;
    margin: auto;
    padding: 35px 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

    .navbar ul li a {
        text-decoration: none;
        color: #fff;
        text-transform: uppercase;
    }

    .navbar ul li::after {
        content: '';
        height: 5px;
        width: 0%;
        background: #D9691C;
        position: absolute;
        left: 0;
        bottom: -10px;
        transition: 0.5s;
    }

    .navbar ul li:hover::after {
        width: 100%;
    }
.navbar-nav{
    align-items: center
}

.logo {
    width: 200px;
    cursor: pointer;
}
