/* Set base font size, position, and minimum height for the HTML element */
html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

/* Set font size for HTML element when screen size is greater than or equal to 768px */
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

/* Set margin bottom for body element */
body {
    margin-bottom: 60px;
}

/* Style for search button */
.btn-search {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
}

    /* Style for search button when hovered */
    .btn-search:hover {
        background-color: #0069d9;
        border-color: #0062cc;
        color: #fff;
    }

/* Defines the properties of a row element in a flex container */
.row {
    display: flex;
    flex-wrap: wrap;
}

/* Defines the properties of a column element in a flex container */
.col-sm-2 {
    display: flex;
    flex-direction: column;
}

/* Defines the properties of a card element */
.card {
    flex-grow: 1;
}

/* Defines the properties of the image element in a card */
.card-img-top {
    height: 200px;
    align-items: center;
}

/* Defines the properties of an unordered list element in a navbar */
.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

    /* Defines the properties of the anchor element in a list item in a navbar */
    .navbar ul li a {
        text-decoration: none;
        color: #fff;
        text-transform: uppercase;
    }

    /* Defines the properties of the pseudo-element after a list item in a navbar */
    .navbar ul li::after {
        content: '';
        height: 5px;
        width: 0%;
        background: #D9691C;
        position: absolute;
        left: 0;
        bottom: -10px;
        transition: 0.5s;
    }

    /* Defines the properties of the pseudo-element after a list item in a navbar when it's hovered */
    .navbar ul li:hover::after {
        width: 100%;
    }

/* Defines the properties of the navbar unordered list element in terms of vertical alignment */
.navbar-nav {
    align-items: center;
}

/* Defines the properties of the logo element */
.logo {
    width: 200px;
    cursor: pointer;
}

/* Set maximum width and height for images within column elements */
.col-md-4 img {
    max-width: auto;
    height: auto;
}

/* Styles for external login image */
.external-login-image {
    width: 50px;
    height: 50px;
}

/* Styles for external login button */
.external-login-btn {
    width: 50px;
    height: 50px;
}


/* styles for dropdown menu in Index found @(https://www.sliderrevolution.com/resources/css-select-styles/) */
select {
    /* styling */
    background-color: white;
    border: thin solid blue;
    border-radius: 4px;
    display: inline-block;
    font: inherit;
    line-height: 1.5em;
    padding: 0.5em 3.5em 0.5em 1em;
    /* reset */

    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
}


    /* arrows */

    select.classic {
        background-image: linear-gradient(45deg, transparent 50%, blue 50%), linear-gradient(135deg, blue 50%, transparent 50%), linear-gradient(to right, skyblue, skyblue);
        background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), 100% 0;
        background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
        background-repeat: no-repeat;
    }

        select.classic:focus {
            background-image: linear-gradient(45deg, white 50%, transparent 50%), linear-gradient(135deg, transparent 50%, white 50%), linear-gradient(to right, gray, gray);
            background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em, 100% 0;
            background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
            background-repeat: no-repeat;
            border-color: grey;
            outline: 0;
        }
