html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    margin-bottom: 60px;
}

.btn-search {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
}

    .btn-search:hover {
        background-color: #0069d9;
        border-color: #0062cc;
        color: #fff;
    }
/* Views/Boards/Index.cshtml stylesheet*/
/* Styles for the container element holding all board rows */
.board-container {
    flex-wrap: wrap; /* allow the container to wrap rows when it runs out of horizontal space */
    padding: 20px; /* add some padding to the container */
    background-color: #fff; /* set the background color of the container */
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-sm-2 {
    display: flex;
    flex-direction: column;
}

.card {
    flex-grow: 1;
}

.card-img-top {
    height: 200px;
    align-items: center;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

    .navbar ul li a {
        text-decoration: none;
        color: #fff;
        text-transform: uppercase;
    }

    .navbar ul li::after {
        content: '';
        height: 5px;
        width: 0%;
        background: #D9691C;
        position: absolute;
        left: 0;
        bottom: -10px;
        transition: 0.5s;
    }

    .navbar ul li:hover::after {
        width: 100%;
    }
.navbar-nav{
    align-items: center
}

.logo {
    width: 200px;
    cursor: pointer;
}
