@page "/index"
@using SurfBoardApp.Blazor.Client.Components;
@using SurfBoardApp.Blazor.Shared.ViewModels.BoardViewModels;
@inject HttpClient Http

<PageTitle>Index</PageTitle>

<h3>Boards</h3>

@if (_boards == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var board in _boards)
            {
                <tr @onclick="async () => await HandleBoardClicked(board)">
                    <td>@board.Id</td>
                    <td>@board.Name</td>

                </tr>
            }
        </tbody>
    </table>

    <!-- Modal -->
    <BoardModal @ref="_boardModal" Model=_board />
}

@code {
    private BoardVM[]? _boards;
    private BoardVM _board = new();
    private BoardModal? _boardModal;

    protected override async Task OnInitializedAsync()
    {
        _boards = await Http.GetFromJsonAsync<BoardVM[]>("api/boards/GetBoards"); //TODO: Flyt metoden til ApiService
    }

    private async Task HandleBoardClicked(BoardVM board)
    {
        _board = board;
        await _boardModal.OpenModal();
    }
}
