<div class="card small-card">
    <div class="card-header">
        <h4 class="card-title">Weather Information</h4>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col">
                <p><strong>Temperature:</strong> {{ Temperature }} &deg;F</p>
                <p><strong>Condition:</strong> {{ Condition }}</p>
            </div>
            <div class="col">
                <p><strong>Wind Speed:</strong> {{ WindSpeed }} mph</p>
                <p><strong>Humidity:</strong> {{ Humidity }}%</p>
            </div>
        </div>
    </div>
</div>
